@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto Slab", serif;
}

/* ######### HEADING ######### */

header {
	background-image: url(img/nature.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	font-size: 2rem;
	padding: 20px;
}

.container {
	margin: auto;
	width: 80%;
	text-align: center;
}

ion-icon {
	color: #01937c;
}
p {
	/* font-size: 1.5rem; */
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.6;
	color: #fff;
	padding: 5px 10px;
}

input {
	width: 80%;
	height: 50px;
	background-color: transparent;
	border: 2px solid #fff;
	padding-left: 10px;
	border-radius: 5px;
}
header ::placeholder {
	color: #fff;
}
button {
	padding: 10px 20px;
	border: 2px solid #fff;
	background: #01937c;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
}
button:hover {
	background: #b6c867;
	color: #334443;
}

.hero {
	margin-top: 70px;
}
.angel {
	font-weight: 300;
	font-size: 1.2rem;
	font-family: "Roboto Slab", serif;
}
.just {
	/* background-color: #f7fd04; */
	font-size: 3rem;
	font-weight: 300;
}
.nene {
	background-color: #334443;
	color: #fff;
	padding: 10px 5px;
	margin-top: 15px;
	font-size: 1.2rem;
	line-height: 1.6;
}
.light {
	color: #fff;
}

/* ######### MAIN ######### */
main {
	padding: 20px;
	width: 100%;
	margin: auto;
	text-align: center;
}

h2 {
	font-size: 2.5rem;
	font-weight: 300;
	margin: 50px 0;
}
h3 {
	font-weight: 300;
	padding: 5px 10px;
	font-size: 1.6rem;
}
h4 {
	font-size: 2.5rem;
	font-weight: 300;
	margin: 50px 0;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 70px;
	width: 100%;
}

.col {
	width: 20%;
	height: 500px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.bg-1 {
	background-image: url(img/jasmin.jpg);
	background-size: cover;
}
.bg-2 {
	background-image: url(img/matteo.jpg);
	background-size: cover;
}
.bg-3 {
	background-image: url(img/nathan.jpg);
	background-size: cover;
}

.main-hero {
	background-color: #01937c;
	opacity: 0.7;
	color: #fff;
}

.pad-it {
	padding: 5px 10px;
}
/* ######### FOOTER ######### */

/* .container { */
/* border: 10px solid red;
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 95vh; */
/* } */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px 0;
	width: 100%;
}

.foot {
	width: 40%;
}
.btn-dark {
	background-color: #01937c;
	color: #fff;
}

.foot-hero {
	width: 100%;
	/* height: 50px; 1088*/
	background-color: #fff;
	border: 2px solid #01937c;
	padding-left: 10px;
	border-radius: 5px;
	margin: 10px 0;
}

@media only screen and (max-width: 800px) {
	.just {
		font-size: 2.5rem;
	}
	p,
	.nene {
		font-size: 0.8rem;
	}

	.wrapper {
		flex-direction: column;
	}
	.col {
		width: 80%;
		margin-bottom: 20px;
	}

	header input {
		width: 100%;
	}
	.foot {
		width: 80%;
	}
	footer {
		margin-top: 20px;
	}
}
